@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  border: none;
  list-style-type: none;
  text-decoration: none;
}
.hero {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}
.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  color: rgb(179, 179, 186);
  white-space: nowrap;
  margin: 30px 0;
  padding-left: 8px;
}

.nav-wrapper {
  overflow: hidden;
  background: darkslateblue;
}

.nav-limiter {
  max-width: 100vw;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0,
    rgba(0, 0, 0, 0.25) 8px,
    #000 8px,
    #000 calc(100% - 50px),
    rgba(0, 0, 0, 0.25) calc(100% - 20px),
    transparent
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    rgba(0, 0, 0, 0.25) 8px,
    #000 8px,
    #000 calc(100% - 50px),
    rgba(0, 0, 0, 0.25) calc(100% - 20px),
    transparent
  );
  padding-bottom: 20px;
  margin-bottom: -20px;
}
